# GCS service account key
service_account_key.json
sa_*_key.json

# Python trash
__pycache__/

# Venvs
venv/
gsutils_venv/

# VS Code
.idea/
.DS_Store
/.vscode

# credentials
db_credentials.sh
.env

# ChromeDriver
chromedriver.exe
chromedriver

# Other
test_*.py
src/scrapcio/speceurlex/__init__.py

# Jupyter Notebooks
dont_*.ipynb

# dont
dont_*.py

# Output reports
output_check_report*.txt

# Secrets
client_secret.json